<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<title>FAU Alerts</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">