<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body style="background-color:#7994D3">
		<header class="display-3 text-white" style="background-color:#FF6060"> 
			<div class="ml-5">
					<% include ../partials/header %>
			</div>
		</header>
		<br>
		<div >
			<div class="container text-center">
					<fieldset>
						<form action='/' method="post">
							<input name="mysql_query" type="text" class="ghost-input" placeholder="Enter a MySQL Query" required>
							<input type="submit" class="ghost-button" value="Query">
						</form>
					</fieldset>
				</div>
				<div class="container">
					<p><%= issues %></p>
					<p><%= events %></p>
					<p><%= users %></p>
					<p><%= garages %></p>
				</div>
				<footer>
					<% include ../partials/footer %>
				</footer>
		</div>
		
	</body>
</html>